@font-face{
  font-family: "Sunset";
  src: url(./font-type/old_pixel-7.ttf);
  font-weight: normal;
  font-style: normal;
}

body{
  background-image: url(./images/fondo.png);
  margin: auto;
  padding: 0;
  background-attachment: fixed;
  background-size: 100% 100%;
	overflow: hidden;
}

img{
  width: 120px;
  height: 140px;
}

#pointsHits{
  font-family: Sunset;
  color: #FFD700;
  letter-spacing: 20px;
  font-weight: bold;
  position: absolute;
  top: 6.5%;
  left: 3.2%;
}

#moneyPoints{
  font-family: Sunset;
  color: #FFD700;
  letter-spacing: 20px;
  font-weight: bold;
  position: absolute;
  top: 0%;
  left: 13.7%;
}

#inicioDeJuego{
  font-family: Sunset;
  position: absolute;
  color: #FFD700;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin-top: 150px;
	width: max-content;
	font-size: min(10vw, 80px);
}

#results{
  position: absolute;
  top: 35%;
  left: 40%;
  font-family: Sunset;
  color: #FFD700;
}

.imgEnemi{
  display: none;
}

@keyframes animation{
  0%{
    transform: translateY(250px);
  }

  8%{
    transform: inherit;
  }

  95%{
    transform: inherit;
  }

  100%{
    transform: translateY(250px);
  }
}

.border_center{
  width: 165px;
  height: 195px;
  position: absolute;
  overflow: hidden;
}

.border_bottom{
  width: 200px;
  height: 236px;
  position: absolute;
  overflow: hidden;
}

.border_top{
  width: 120px;
  height: 140px;
  position: absolute;
  overflow: hidden;
}

/* Position LEFT */
.ubi_left_top{
  left: 15%;
  bottom: 60%;
}

.ubi_left_center{
  bottom: 36.6%;
}

.ubi_left_bottom{
  bottom: 0%;
  right: 75%;
}

.position_left_top{
  width: 120px;
  height: 140px;
  background-repeat: no-repeat;
  background-size: 118px;
}

.position_left{
  width: 165px;
  height: 195px;
  background-size: 165px;
  background-repeat: no-repeat;
}

.position_left_bottom{
  width: 200px;
  height: 236px;
  background-repeat: no-repeat;
  background-size: 200px;
}

/* Position CENTER */
.ubi_top_center{
  left: 50%;
  bottom: 60%;
}

.position_top{
  width: 120px;
  height: 140px;
  background-repeat: no-repeat;
  background-size: 118px;
}

.ubi_bottom_center{
  bottom: 0%;
  left: 45%;
}

.position_bottom{
  width: 200px;
  height: 236px;
  background-repeat: no-repeat;
  background-size: 200px;
}

/* Position RIGHT */
.ubi_right_top{
  bottom: 60.3%;
  right: 10%;
}

.position_right_top{
  width: 120px;
  height: 140px;
  background-repeat: no-repeat;
  background-size: 118px;
}

.ubi_right_center{
  bottom: 37%;
  left: 90%;
}

.position_right{
  width: 165px;
  height: 195px;
  background-repeat: no-repeat;
  background-size: 165px;
}

.ubi_right_bottom{
  bottom: 0%;
  right: 10%;
}

.position_right_bottom{
  width: 200px;
  height: 236px;
  background-repeat: no-repeat;
  background-size: 200px;
}

#animation{
	translate: y;
}
