@font-face{
  font-family: "Sunset";
  src: url(./font-type/old_pixel-7.ttf);
  font-weight: normal;
  font-style: normal;
}

body
{
  background-image: url(./images/fondo.png);
  margin: auto;
  padding: 0;
  background-attachment: fixed;
  background-size: 100% 100%;
}

img{
  width: 120px;
  height: 140px;
}


@media screen and (max-height: 3500px) {
    #pointsHits {
      font-size: 200px;
    }
    #moneyPoints {
      font-size: 200px;
    }
    #inicioDeJuego {
      font-size: 200px;
    }
    #results{
      font-size: 200px;
    }
}

@media screen and (max-height: 3000px) {
    #pointsHits {
      font-size: 170px;
    }
    #moneyPoints {
      font-size: 170px;
    }
    #inicioDeJuego {
      font-size: 170px;
    }
    #results{
      font-size: 170px;
    }
}

@media screen and (max-height: 2500px) {
    #pointsHits {
      font-size: 140px;
    }
    #moneyPoints {
      font-size: 140px;
    }
    #inicioDeJuego {
      font-size: 140px;
    }
    #results{
      font-size: 140px;
    }
}
@media screen and (max-height: 2000px) {
    #pointsHits {
      font-size: 115px;
    }
    #moneyPoints {
      font-size: 115px;
    }
    #inicioDeJuego {
      font-size: 115px;
    }
    #results{
      font-size: 115px;
    }
}
@media screen and (max-height: 1450px) {
    #pointsHits {
      font-size: 95px;
    }
    #moneyPoints {
      font-size: 95px;
    }
    #inicioDeJuego {
      font-size: 95px;
    }
    #results{
      font-size: 95px;
    }
}
@media screen and (max-height: 1100px) {
  #pointsHits {
    font-size: 73px;
  }
  #moneyPoints {
    font-size: 73px;
  }
  #inicioDeJuego {
    font-size: 73px;
  }
  #results{
    font-size: 73px;
  }
}

#pointsHits{
  font-family: Sunset;
  color: #FFD700;
  letter-spacing: 20px;
  font-weight: bold;
  position: absolute;
  top: 6.5%;
  left: 3.2%;
}


#moneyPoints{
  font-family: Sunset;
  color: #FFD700;
  letter-spacing: 20px;
  font-weight: bold;
  position: absolute;
  top: 0%;
  left: 13.7%;
}

#inicioDeJuego{
  font-family: Sunset;
  position: absolute;
  bottom: 29%;
  left: 35%;
  color: #FFD700;
}

#results{
  position: absolute;
  top: 35%;
  left: 40%;
  font-family: Sunset;
  color: #FFD700;
}

.imgEnemi{
  display: none;
}

@keyframes animation
{
  0%
  {
    transform: translateY(250px);
  }

  8%
  {
    transform: inherit;
  }

  95%
  {
    transform: inherit;
  }

  100%
  {
    transform: translateY(250px);
  }
}


.border_center
{
  width: 165px;
  height: 195px;
  position: absolute;
  overflow: hidden;
}

.border_bottom
{
  width: 200px;
  height: 236px;
  position: absolute;
  overflow: hidden;
}

.border_top
{
  width: 120px;
  height: 140px;
  position: absolute;
  overflow: hidden;
}



/* Posicion LEFT */

.ubi_left_top
{
  left: 15%;
  bottom: 60%;
}

.ubi_left_center
{
  bottom: 36.6%;
}

.ubi_left_bottom
{
  bottom: 0%;
  right: 75%;
}

.position_left_top
{
  width: 120px;
  height: 140px;
  background-repeat: no-repeat;
  background-size: 118px;
}

.position_left
{
  width: 165px;
  height: 195px;
  background-size: 165px;
  background-repeat: no-repeat;

}

.position_left_bottom
{
  width: 200px;
  height: 236px;
  background-repeat: no-repeat;
  background-size: 200px;
}



/* Posicion CENTER */

.ubi_top_center
{
  left: 50%;
  bottom: 60%;
}

.position_top
{
  width: 120px;
  height: 140px;
  background-repeat: no-repeat;
  background-size: 118px;
}

.ubi_bottom_center
{
  bottom: 0%;
  left: 45%;
}

.position_bottom
{
  width: 200px;
  height: 236px;
  background-repeat: no-repeat;
  background-size: 200px;
}


/* Posicion RIGHT */

.ubi_right_top
{
  bottom: 60.3%;
  right: 10%;
}

.position_right_top
{
  width: 120px;
  height: 140px;
  background-repeat: no-repeat;
  background-size: 118px;
}

.ubi_right_center
{
  bottom: 37%;
  left: 90%;
}

.position_right
{
  width: 165px;
  height: 195px;
  background-repeat: no-repeat;
  background-size: 165px;
}

.ubi_right_bottom
{
  bottom: 0%;
  right: 10%;
}

.position_right_bottom
{
  width: 200px;
  height: 236px;
  background-repeat: no-repeat;
  background-size: 200px;
}
/* Animaciones */

#animation
{
translate: y;
}
